.createButton {
  background-color: var(--blue-300);
  border: 0;
  font-weight: bold;
  line-height: 0;
  color: var(--gray-100);
  border-radius: 8px;
  height: 3.3rem;
  width: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  transition: background 0.1s;
}

.createButton:hover {
  background-color: var(--blue-100);
}

.trashButton {
  background-color: transparent;
  color: var(--gray-300);
  border-radius: 4px;
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
  line-height: 0;

  transition: color 0.1s, background 0.1s;
}

.trashButton:hover {
  background-color: var(--gray-400);
  color: var(--red-500);
}